body {
    background: white;
}

h1, h2, h3, h4, h5 {
    color: #444;
}

h3 {
    font-size: 1.3em;
    border-bottom: 2px solid #ccc;
}

h4 {
    font-size: 1.2em;
    border-bottom: 1px dotted #ddd;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: medium;
}

a {
    color: #46c;
}

img {
    height: 20%;
}

pre {
    color: black;
    white-space: pre-wrap; /* Since CSS 2.1 */
    vertical-align: bottom;
    line-height: 1.5em;
    background: linear-gradient(180deg, #eee 0, #eee 1.5em, #f7f7f7 0);
    background-size: 3.0em 3.0em;
    padding-left: 0.5em;
}

/* line comment, block comments */
.c1, .cm {
    color: #4466cc;
}

/* include, import, from, for, in */
.cp, .kn, .k, .ow {
    color: darkgreen;
}

/* function names */
.nf {
    color: darkblue;
}

/* data types */
.kr {
    color: chocolate;
}

/* string, numbers, python strings */
.s, .mi, .sa, .s1 {
    color: brown;
}

/* block code, inline code */
pre, code {
    font-family: monospace;
    font-size: medium;
}

code {
    background: lightsalmon;
    padding-left: 2px;
    padding-right: 2px;
}

/* block code */
.codehilite {
    background: #f7f7f7;
    border: 1px dashed #aaa;
    margin: 1ex;
}

.codehilite code {
    background: none;
}

th {
    background: #ffe;
}

td, th, table {
    border: 1px solid #bbb;
}

td, th {
    padding: 0.25em 0.5ex;
}
